{{!-- <h1 class="second-title">Logout</h1>

<div>
  
<h1>Logout</h1>

<form action="/logout" method="post">

  <label>Username</label>
  <input type="text" name="username">

  <label>Password</label>
  <input type="password" name="password">

  <button>Logout</button>

</form>

</div>


 --}}
