{{!-- <!-- This should render the currenUser's profile page -->
<div>
  <h1>Welcome {{home.currentUser.username}} to your page</h1>
  <h2>You can edit your information below</h2>
  <br>
  <h3>Username: {{home.currentUser.username}}</h3>
  <br>
</div>
 --}}
