{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>This used to be where the HBS goes, but now we are going to use Angular. Well, that's what somebody told me. You know who you are.</h1>

    <script src='/javascripts/script.js'></script>
  </body>
</html> --}}
