{{!-- <div class="products_index">

  <!-- This should list all the products and then let you click on them -->
    <div class="product">
      <h2>{{product.name}}</h2>

      <img src={{product.img}}>

      <div class="info">
        <p class="price">{{product.price | currency}}</p>
        <p class="quantity">{{product.quantity}} in stock!</p>
        <div>
          <input type="text" placeholder="1" style="width: 40%;">
          <button (click)="cart.addToCart(product, home.currentUser)">Buy</button>
        </div>
      </div>
    </div>

</div> --}}
